PORT=5000
M3U_URL=https://iptv-org.github.io/iptv/countries/us.m3u
NODE_ENV=development

# Alternative M3U playlists by country:
# Canada: https://iptv-org.github.io/iptv/countries/ca.m3u
# UK: https://iptv-org.github.io/iptv/countries/gb.m3u
# Spain: https://iptv-org.github.io/iptv/countries/es.m3u
# Brazil: https://iptv-org.github.io/iptv/countries/br.m3u
# Mexico: https://iptv-org.github.io/iptv/countries/mx.m3u
# All countries: https://iptv-org.github.io/iptv/index.m3u
